@charset "utf-8";
.headerContainer,
.outerContainer,
.eventButtons {
  width: 373px;
}
.headerContainer {
  height: 38px;
  margin: 15px auto 0px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.headerContainer .header {
  width: 373px;
  padding: 0;
  text-indent: 15px;
  color: #8e8e8e;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  height: 38px;
  line-height: 38px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.headerContainer textarea::-webkit-input-placeholder,
.headerContainer input::-webkit-input-placeholder {
  color: #8e8e8e;
}
.outerContainer {
  /*最外层的容器*/
  margin: 20px auto 0px;
  background-color: #fff;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.outerContainer .label {
  width: 83px;
  text-indent: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  height: 38px;
  line-height: 38px;
}
.outerContainer .labelRightContent {
  /*位于label右侧部分的容器*/
  width: 245px;
  margin-top: 5px;
  padding-left: 15px;
  vertical-align: top;
  display: inline-block;
  border-left: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
}
.outerContainer .dateSelect {
  width: 160px;
  vertical-align: top;
  display: inline-block;
}
.outerContainer .dateSelect input {
  width: 100%;
  height: 30px;
  margin-top: 4px;
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
.eventButtons {
  height: 30px;
  margin: 8px auto;
  *zoom: 1;
}
.eventButtons:before,
.eventButtons:after {
  display: table;
  content: "";
  line-height: 0;
}
.eventButtons:after {
  clear: both;
}
.eventButtons input {
  border: none;
  padding: 0 15px;
  background-color: #fbfbfb;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.oneTopContainer,
.oneMidContainer,
.oneBottomContainer,
.endrepeatContainer,
.lastContainer {
  width: 353px;
  margin-left: 10px;
}
.oneTopContainer,
.oneMidContainer {
  /*两行中较高一行的容器, 和三行中间的容器*/
  height: 38px;
  border-bottom: 1px solid #ddd;
}
.oneBottomContainer,
.endrepeatContainer {
  /*两行中较低一行的容器, 和包裹重复事件结束时间的容器*/
  height: 39px;
}
.lastContainer {
  /*最后一个容器（备注）*/
  height: 78px;
}
.endrepeatContainer {
  display: none;
}
#event_details_template {
  width: 403px;
  background-color: #fbfbfb;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  display: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 26;
}
#event_details_template select {
  font-size: 16px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: none;
  background: url(../images/select.png) no-repeat center right;
  padding-left: 3px;
  /* minor problem with chrome on windows */
  padding-right: 19px;
  /* original: 18 - minor problem with chrome on windows */
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  outline: none;
  -moz-outline: none;
  color: #333;
}
#event_details_template select:hover {
  background: url(../images/select_hover.png) no-repeat center right;
}
#time_from_cell,
#time_to_cell {
  width: 100px;
  vertical-align: top;
  display: inline-block;
}
#time_from_cell input,
#time_to_cell input {
  width: 100%;
  height: 30px;
  margin-top: 4px;
  padding-left: 15px;
  border-left: 1px solid #ddd;
}
#url_EVENT,
#note {
  width: 373px;
  text-indent: 5px;
  padding: 0;
  font-size: 16px;
}
#calendarLine,
#note_tr,
#url_tr,
#url_EVENT,
#note {
  height: 100%;
  width: 100%;
}
#closeButton {
  color: #8e8e8e;
  float: right;
  display: inline;
}
#saveButton {
  color: #4bce0d;
  border-left: 1px solid #ddd;
  float: right;
  display: inline;
}
#deleteButton {
  color: #ff0000;
}
#eventColor {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #f0f0f0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#event_calendar {
  width: 92% !important;
}
/*# sourceMappingURL=event.css.map */